torch
transformers
datasets
accelerate
bitsandbytes
faiss-cpu
sentence-transformers
rank-bm25
peft
pdfplumber
pdf2image
pytesseract
nltk
numpy
scikit-learn
streamlit
huggingface_hub
ctransformers
python-dotenv
pyarrow