# requirements.txt
streamlit
torch
sentence-transformers
faiss-cpu
# Pin key libraries to ensure consistency
transformers==4.36.2
peft==0.7.1
accelerate==0.25.0
# ---
ctransformers>=0.2.27
nltk
numpy
datasets
scikit-learn
rank_bm25